* {
    margin: 0;
    padding: 0;
    box-sizing: border-box; }
  
/* E S T I L O S     H E A D E R */
header {
    background-image: linear-gradient(to right, #5EBB72 ,#5EBB72 , white,  white , #124C62 , #124C62); }

#logoEscudo {
    display: block;
    margin-left: 42%}



h1 {
    font-size: 55px;
    text-align: center;
    font-family: "Public Sans", sans-serif;
    text-shadow: 2px 2px antiquewhite;
    padding: 20px 20px 10px 20px; }

h2, h3, h4, h5 {
    font-size: 30px;
    text-align: center;
    padding: 40px;
    font-family: "Public Sans", sans-serif;
    text-shadow: 2px 2px antiquewhite; }

/* E S T I L O S    M E N U    D E     N A V E G A C I O N */
ul li {
    list-style: none;
    display: inline;
    text-transform: uppercase;  
    font-size: 20px;
    padding: 1rem;

}
    
ul li:hover {
    border: 1px solid #124C62; }

div a:hover {
    border: 7px solid #124C62; }

#botonperfil {
    padding: 1rem;
}



/* M O D A L */

.modal-container , .modal-containeractivo , .modal-containerfamiliar , .modal-categoriasbasquet , .modal-categoriasfutbol {
    width: 100%;
    height: 100vh;
    background-color: rgba(0, 0, 0, 0.3);
    position: fixed;
    top: 0;
    left: 0;
    display: flex;
    justify-content: center;
    align-items: center;

    opacity: 0;
    visibility: hidden;
    transition: .3s all ease-in-out;
}

.sociodeportivo-modal , .socioactivo-modal , .sociofamiliar-modal , .categoriasbasquet-modal , .categoriasfutbol-modal  {
    background-color: #5EBB72 ;
    width: 320px;
    min-height: 300px;
    border-radius: 20px;
    padding: 20px;
    color: #124C62;
}

.sociodeportivo-visible , .socioactivo-visible , .sociofamiliar-visible , .categoriasbasquet-visible , .categoriasfutbol-visible {
    opacity: 1;
    visibility: visible;
}


/* E S T I L O S    D E     I M A G E N E S */

#futbol1 , #voley1 , #basquet1 , #tenis1 , #natacion1 , #gimnasio1{
    padding: 5px;
}


/* E S T I L O S    D E     B O T O N E S */

#abrirCategoriasFutbol , #abrirHorariosFutbol , #abrirProgramacionFutbol , 
#abrirCategoriasVoley , #abrirHorariosVoley , #abrirProgramacionVoley ,
#abrirCategoriasBasquet , #abrirHorariosBasquet , #abrirProgramacionBasquet ,
#abrirCategoriasTenis , #abrirHorariosTenis , #abrirProgramacionTenis,
#abrirCategoriasNatacion , #abrirHorariosNatacion , #abrirProgramacionNatacion,
#abrirClasesGimnasio , #abrirHorariosGimnasio      {
    padding: 1rem;
}


/* F O O T E R */
footer {
    background-color: #5EBB72; }
  
